@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplication7.Models.Pessoa

<h2>Lista os dados da pessoa</h2>
<fieldset>
    <legend> Pessoa </legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>



   
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Observacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Observacao)
    </div>



    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.idade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idade)
    </div>



      
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>


    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Login)
    </div>



    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Senha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Senha)
    </div>



   
    <div class="display-label">
        @Html.DisplayNameFor(model => model.ConfirmarSenha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConfirmarSenha)
    </div>






</fieldset>
